.container {
    width: 100%;
    max-width: 100%;
}

.axis path {
    stroke: none;
}
.axis.big text {
    font-size: 1.5em;
    font-weight: 200;
}

h1 {
    font-weight: 100;
    font-family: 'Oleo Script Swash Caps', cursive;
}
h5,h2,h3,h4 {
    font-weight: 900;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: .4rem;
}
.axis.axisLabel text {
    font-weight: 300;
}

.timelinePath {
    fill: none;
    stroke-width: 3px;
    stroke-linecap: round;
}

#volume {
    position:relative;
}

.y-scroll-container {
    overflow-y: scroll;
}

.small-chart .y-scroll-container {
    max-height: 300px
}

.small-chart .chart-header {
    text-transform: uppercase;
}

.focus {
    cursor: pointer; cursor: hand;
}

.tooltip {
    white-space: pre-wrap;
    text-align: left;
    position: absolute;
    padding: .2em 1em;
    visibility:hidden;
    z-index: 999999 !important;
    max-width: 400px;
    font-family: 'Josefin Sans', sans-serif;
}

.nvtooltip, .tooltip {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: #323232;
    color: #fff;
    font-weight: 200;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.nvtooltip p, .nvtooltip h5, .tooltip p, .tooltip h5 {
    margin: 0;
    padding: 5px 14px;
    text-align: left;
    color: #fff;
}


.nvtooltip h3 {
    font-weight: 600;
    font-size: 1em;
    background-color: transparent;
    border: none;
}

.y-scroll-container::-webkit-scrollbar {
    display: none;
}

.btn-floating {
    margin-right: 20px;
    margin-left: 20px;
}

.hidden {
    height: 0;
    visibility: hidden;
    display: none;
}

svg text {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
    fill: #000000;
}

.btn {
    margin-left:2px;
    margin-right:2px;
}
.zip {
    cursor: pointer; cursor: hand;
}

.material-tooltip {
    white-space: pre-wrap;
    text-align: left;
}

html {
    font-family: 'Josefin Sans', sans-serif;
}

svg text {
    font-family: 'Josefin Sans', sans-serif;
}

a {
    color: #c3cacb;
}

a:hover {
    color: #4aabc5;
}

.clickable {
    cursor: pointer; cursor: hand;
}


.titleSection h3 {
    margin-top: 0;
}
.titleSection p {
    font-weight: 400;
}
.titleSection {
    padding: 1em 0;
}
.page-footer .footer-copyright {
    padding: 0 4em;
}
.titleSection .row {
    margin-bottom: 0;
}


h1.background-line {
    background: repeating-linear-gradient(
            0deg,
            #FFF,
            #FFF 48%,
            #80d8ff 48%,
            #80d8ff 52%,
            #FFF 52%,
            #FFF
    );
}

h1.background-line span {
    background: #FFF;
    padding: 0 20px;
}

.titleSection h1 {
    text-shadow: 2px 2px 0px #0091ea;
    font-size: 5rem;
}

h4.section-title {
    text-shadow: 1px 1px 0px #0091ea;
}

.italic {
    font-style: italic;
}

body {
    background: repeating-linear-gradient(
            45deg,
            #81d4fa,
            #81d4fa 10px,
            #29b6f6 10px,
            #29b6f6 20px
    );
}

#main {
    background-color: #ffffff;
    width: 80vw;
    margin-left: 10vw;
}

.btn.rounded-btn {
    border-radius: 32px;
}

h4.section-title {
    border-bottom: 4px solid #80d8ff;
    padding-bottom: 6px;
    margin-bottom: 32px;
    font-family: 'Oleo Script Swash Caps', cursive;
    text-transform: none;
    letter-spacing: 0;
}

#progress-bar-holder {
    width: 80%;
    margin-left: 10%;
    height: 24px;
    border-radius: 24px;
    background: repeating-linear-gradient(
            45deg,
            #eceff1 ,
            #eceff1  5px,
            #cfd8dc  5px,
            #cfd8dc  10px
    );
    box-shadow: inset 0 0 10px rgba(0,0,0,.2);
    overflow: hidden;
    position: relative;
}
#progress-bar {
    width: 75%;
    height: 24px;
    /*border-top-left-radius: 24px;*/
    /*border-bottom-left-radius: 24px;*/
    background: repeating-linear-gradient(
            45deg,
            #f48fb1   ,
            #f48fb1    5px,
            #ec407a    5px,
            #ec407a    10px
    );
}

#progress-marker {
    position: absolute;
    left: 75%;
    top: 0;
    width: 36px;
    height: 24px;
    margin-left: -23px;
    background-color: #e91e63 ;
    color: #FFFFFF;
    border-radius: 24px;
    border: 2px solid #FFFFFF;
    box-shadow: 0 0 4px rgba(0,0,0,.2);
    font-weight: 800;
}

strong {
    font-weight: 800;
}

.individual-stats-holder h3 {
    font-family: 'Oleo Script Swash Caps', cursive;
    letter-spacing: 0;
    margin-bottom: 0;
}
.individual-stats-holder p {
    margin-top: 0;
}
.leader p {
    margin-top: 0;
    margin-bottom: 0;
}
.leader {
    margin-bottom: 24px;
    float: left;
    position: relative;
    height: 240px;
}

.fire-circle {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 116px;
    left: 32px;
}

.title-holder {
    position: absolute;
    top: 0;
    lefT: 0;
}

.circle-holder {
    width: 100%;
    padding: 12px 0;
    margin-top: 12px;
    margin-bottom: 12px;
    /*height: 128dppx;*/
    position: absolute;
    top: 40px;
    lefT: 0;
}

.stats-holder {
    position: absolute;
    top: 192px;
    lefT: 0;
}

.pic-holder {
    background-size: cover;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    position: absolute;
    top: 0;
    left: 0;
}

.circle-holder:hover {
    opacity: .8;
}

.donut-holder {
    position: absolute;
    top: 0;
    left: 0;
}

p.leader-total {
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 1.4rem;
    line-height: .5;
}

p.leader-donations {
    font-style: italic;
}

p.leader-name {
    font-weight: 800;
}

.margin-bottom-0 {
    margin-bottom: 0;
    padding-bottom: 0;
}
.margin-top-0 {
    margin-top: 0;
    padding-top: 0;
}

svg text.leaderboard-number {
    fill: #FFFFFF;
    font-weight: 800;
}

#dunk-tank-icon {
    position: absolute;
    z-index: 99;
    top: 12px;
    left: 5vw;
    border-radius: 50%;
    background-color: #FFFFFF;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    padding: 48px;
    transform: rotate(-20deg);
    border: 4px solid #80d8ff;
}

#leaderboard-summary-scroll {
    position: relative;
}

.leaderboard-summary-holder {
    width: 100%;
    overflow-x: scroll;
}

.leaderboard-summary-bar {
    position: absolute;
    background: repeating-linear-gradient(
            45deg,
            #ffcc80   ,
            #ffcc80    5px,
            #ffa726    5px,
            #ffa726    10px
    );
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.leaderboard-summary-bar.top-performer {
    background: repeating-linear-gradient(
            45deg,
            #a5d6a7   ,
            #a5d6a7    5px,
            #66bb6a    5px,
            #66bb6a    10px
    );
}

.leaderboard-summary-bar.bg-bar {
    background: repeating-linear-gradient(
            45deg,
            #eceff1 ,
            #eceff1  5px,
            #cfd8dc  5px,
            #cfd8dc  10px
    );
    box-shadow: none;
    /*box-shadow: inset 0 0 10px rgba(0,0,0,.2);*/
}
.leaderboard-img {
    position: absolute;
    background-size: cover;
}
.leaderboard-img:hover {
    opacity: .8;
}

.leaderboard-summary {
    margin-top: 24px;
}

#countdown .countdown-num {
    font-size: 3rem;
    font-weight: 800;
}